<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi <%= name %></h1>
    <% contents.forEach(content => { %> 
        <div id="<%= content._id %>">
            <a href="/<%= content._id %>"><%= content.title %></a>
            <button><a href="/edit/<%= content._id %>">수정</a></button>
            <button class="deleteButton">삭제</button>
        </div>
    <% }) %> 
    <button><a href="/create">글 작성</a></button>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let deleteButton = document.querySelectorAll('.deleteButton');
        deleteButton.forEach(btn => {
            let id = btn.parentElement.id;
            btn.addEventListener('click', async () => {
                window.location.href=window.location.href
                await axios.delete(`/delete/${id}`, {
                    headers: {
                        'Content-Type': "application/json",
                    }
                });
            });
        });
    </script>
</body>
</html>