<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="index.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <%-include('header.ejs') %>
    <div class="section_wrapper">   
        <div class="title_wrapper" id="trashweight">
            <div id="dec">내가 버린 쓰레기의 양</div>
        </div>
        <div class="title_wrapper" id="numanimal">
            <div id="dec">내가 버린 쓰레기 때문에 위험에 처한 동물</div>
        </div>
        <div class="title_wrapper" id="trasharea">
            <div id="dec">넓어진 쓰레기 섬의 면적</div>
        </div>
    </div>
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
    <div class="wave" id="wave5"></div>
    <div class="section" id="section1">
        <h3>플라스틱 내역</h3>
        <div class="grid_wrapper">
            <% contents.forEach(content => { %>
                <div class="content_wrapper" id="<%= content._id %>">
                    <h4><%= (content.createAt).toLocaleDateString() %></h4>
                    <% for(let i = 0; i < content.numberOfProduct.length; i++) { %>
                        <% if(content.numberOfProduct[i] != 0) { %> 
                            <div class="content">
                                <p><%= content.productName[i] %> </p>
                                <p><%= content.numberOfProduct[i] %></p>
                            </div>
                        <% } %> 
                    <% } %> 
                    <div class="button_in_content">
                        <a id="editButton" href="#section2">수정</a>
                        <button id="deleteButton">삭제</button>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
    <div class="section" id="section2">
        <h3>내가 버린 플라스틱 입력</h3>
        <div class="button_wrapper">
            <button class="plastic" id="can">캔</button>
            <button class="plastic" id="bottle">페트병</button>
            <button class="plastic" id="bag">비닐봉지</button>
            <button class="plastic" id="cup">페트컵</button>
            <button class="plastic" id="snack">과자봉지</button>
            <button class="plastic" id="container">플라스틱 용기</button>
        </div>
        <div class="icon_area">

        </div>
        <div class="submit_button">
            <button class="plastic ctrl" id="reset">초기화</button>
            <button type="submit" class="plastic ctrl" id="add">추가</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let iconArea = document.querySelector('.icon_area');
        let can = document.getElementById('can');
        let bottle = document.getElementById('bottle');
        let bag = document.getElementById('bag');
        let cup = document.getElementById('cup');
        let snack = document.getElementById('snack');
        let container = document.getElementById('container');
        let resetButton = document.getElementById('reset');
        let addButton = document.getElementById('add');

        let numberOfAddedProduct = [0,0,0,0,0,0];
        let productImgName = ['open-can.png', 'water.png', 'bag.png', 'drink.png', 'snack.png', 'container.png'];
        let productName = ['캔', '페트병', '비닐 봉지', '페트컵', '과자 봉지', '플라스틱 용기']
        let productNode = [can, bottle, bag, cup, snack, container];

        let editButton = document.querySelectorAll('#editButton');
        let deleteButton = document.querySelectorAll('#deleteButton');

        let trashweight = document.querySelector('#trashweight');
        let numanimal = document.querySelector('#numanimal');
        let trasharea = document.querySelector('#trasharea');

        for(let i = 0; i < productName.length; i++) {
            productNode[i].addEventListener('click', () => {
                numberOfAddedProduct[i]++;
                let img = document.createElement('img');
                img.setAttribute('src', productImgName[i]);
                img.style.width = '50px';
                img.style.height = '50px';
                img.style.margin = '0 1rem'
                iconArea.appendChild(img);
                console.log(numberOfAddedProduct);
            });

            resetButton.addEventListener('click', () => {
                numberOfAddedProduct = [0,0,0,0,0,0];
                while(iconArea.hasChildNodes()) {
                    iconArea.removeChild(
                        iconArea.firstChild
                    );
                }
            });
        }

        addButton.addEventListener('click', async () => {
            await axios.post('/create', {
                numberOfAddedProduct: numberOfAddedProduct,
                productName: productName,
                headers: {
                    'Content-Type': "application/json",
                }
            });
            while(iconArea.hasChildNodes()) {
                iconArea.removeChild(
                    iconArea.firstChild
                );
            }
            location.reload();
        });

        // console.log(deleteButton);

        editButton.forEach(btn => {
            let id = btn.parentElement.parentElement.id;
            btn.addEventListener('click', async () => {
                await axios.get('/get/')
            });
        });

        deleteButton.forEach(btn => {
            let id = btn.parentElement.parentElement.id;
            btn.addEventListener('click', async () => {
                window.location.href=window.location.href
                await axios.delete(`/delete/${id}`, {
                    headers: {
                        'Content-Type': "application/json",
                    }
                });
                location.reload();
            });
        });
    </script>
</body>
</html>

<!-- <% contents.forEach(content => { %> 
    <% if(userId === content.creater) { %> 
        <div id="<%= content._id %>">
            <a href="/<%= content._id %>"><%= content.title %></a>
            <button><a href="/edit/<%= content._id %>">수정</a></button>
            <button class="deleteButton">삭제</button>
        </div>
    <% } else { %> 
        <div id="<%= content._id %>">
            <a href="/<%= content._id %>"><%= content.title %></a>
        </div>
    <% } %> 
<% }) %>  -->