<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="index.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">LOGO</a>
        <nav class="navbar">
            <a href="#">메뉴1</a>
            <a href="#">메뉴2</a>
            <a href="#">메뉴3</a>
            <a href="#">메뉴4</a>
        </nav>
        <form action="" class="search-form">
            <input type="search" id="search-box">
        </form>
        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
        </div>
    </header>
    <h1>Hi <%= name %></h1>
    <% contents.forEach(content => { %> 
        <% if(userId === content.creater) { %> 
            <div id="<%= content._id %>">
                <a href="/<%= content._id %>"><%= content.title %></a>
                <button><a href="/edit/<%= content._id %>">수정</a></button>
                <button class="deleteButton">삭제</button>
            </div>
        <% } else { %> 
            <div id="<%= content._id %>">
                <a href="/<%= content._id %>"><%= content.title %></a>
            </div>
        <% } %> 
    <% }) %> 
    <button><a href="/create">글 작성</a></button>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let deleteButton = document.querySelectorAll('.deleteButton');
        deleteButton.forEach(btn => {
            let id = btn.parentElement.id;
            btn.addEventListener('click', async () => {
                window.location.href=window.location.href
                await axios.delete(`/delete/${id}`, {
                    headers: {
                        'Content-Type': "application/json",
                    }
                });
            });
        });
    </script>
</body>
</html>